html, body {
    margin: 0 auto;
    font-family: 'Smythe', cursive;
    font-weight: 400;
    background-color: #270d58;
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 



/* typography */

h1,h2{
    color: #270d58;
    text-shadow: 2px 2px rgb(218, 234, 236);
    margin: 0;
}

h1{
    font-size: 39px;
}
h2{
    font-size: 22px;
}
h3,h4{
    margin: 0;
    color:#ebcb87;
    text-shadow: 2px 2px rgb(61, 7, 7);
}
h3{
    font-size: 28px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 24px;
    color: #361a03;
}
p{
    color: #f1e4cc;
    margin: 9px 0 8px 0; 
}
.menu-emoji{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 78px;
    font-family: 'Inter', sans-serif; 
}



/* layout */

header{
    background-image: url("chocolate.avif");
    background-size: cover;
    background-position: 0 -153px;
    width: 100%;
    height: 167px;
}
.title{
    padding: 44px 0 0 42px;
}



main{
    width: 600px;
    color: #251101;
    padding-bottom: 53px;
}
.container{
    width: 508px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 46px;
}

    /* section-menu*/
.menu-item{
    display: flex;
    justify-content: space-between;
    width: 508px;
    margin-top: 67px;
    padding-bottom: 51px;
    border-bottom: 1px solid #D2D2D2;
}
.item-descr{
    display: flex;
    justify-content: space-around;
    gap: 31px;
}



    /* section-order-details*/
.pre-order{
    text-align: center;
    margin-top: 45px;
}
.order-list{
    margin-top: 62px;
}
.order-list-item{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.ordered-item{
    display: flex;
    gap: 13px;
}
.order-total{
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    border-top: 2px solid #393333;
    margin: 31px 0 
}



    /* pop-up-modal  payment */

.card-details-modal{
    position: fixed;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #f7deb0;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(226, 195, 167, 0.5));
    width: 544px;
    height: 543px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
input{
    display: block;
    width: 476px;
    height: 71px;
    margin-top: 23px;
    padding-left: 26px;
    background-color: #f7deb0;
    border: 1.3px solid #757575;
    border-radius: 3px;
    color: #757575;
}


    /* thank you - box */
.order-completed p{
    background-color: #eba63f;
    text-align: center;
    color: #492c05;
    font-size: 32px;
    border-radius: 3px;
    padding: 51px 63px;
    margin-top: 45px;
}


/* buttons */

button{
    background-color: #eba63f;
    color: #492c05;
    text-shadow: 0px 0px 1px rgb(61, 7, 7);
    border: none;
    border-radius: 3px;
    padding: 18px 184px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 46px;
    transition: all .2s ease-in-out;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.add-to-cart-btn{
    background-color: #ebcb87; 
    color: rgb(68, 33, 7);
    text-shadow: none;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    border: 1.5px solid #2c2323;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 8px;
    padding: 0;
}

.remove-ordered-item-btn,
.delete-ordered-item-btn{
    background-color: #270d58;
    border: none;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}
.remove-ordered-item-btn{
    color: #BBBBBB;
}
.delete-ordered-item-btn{
    color: rgb(233, 125, 125);
}

.card-details-modal button{
    width: 476px;
    height: 71px;
}


/* utility*/

.hidden{
    display: none;
}